html {
    background-image: url(https://i.pinimg.com/564x/86/b2/ba/86b2bae7b842e55c91098117332898fb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.background {
    width: 80%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: snow;
}

.MainLayout {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.owufilm {
    text-align: center;
    font-size: 30px;
    color: #75603d;
    padding-top: 22px;
    text-decoration: none;
}

.top {
    height: 80px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.userlogo {
    height: 40px;
    width: 40px;
}

.usertitle {
    width: 300px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.webtitle {
    width: 300px;
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
}

