button {
    margin-left: 20px;
    margin-right: 20px;
    background: #d4f506;
    border-color: cornflowerblue;
}

.column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.loading {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.Movies {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.pagination {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 50px;
}
