.buttoninput {
    background: #d4f506;
    border-color: cornflowerblue;
    margin-left: 0;
}

.input {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    margin: 10px;
}

.Genres {
    width: 10%;
}

.MoviesList {
    width: 90%;
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MoviesPage {
    display: flex;
    box-sizing: border-box;
}