.info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
}

.MovieInfo {
    margin-left: 20px;
}

.MoviePage {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.Video {
    margin-left: 20px;
}